<h1><%= "Order number: #{@order.id}" %></h1>

<div class="row">
  <div class="col-md-3">
    <h4>Order details:</h4>
  </div>

  <div class="col-md-6"></div>
  <div class="col-md-3 status pull-right">
    <div>
      <strong>Status:</strong>
      <%= @status %> <br/>
    </div>
  </div>
</div>
