<div class="items-list">
  <h1>All Meals</h1>

  <% @items.each do |item| %>
    <div class="item-box">
      <%= item.name %> | $<%= item.price %> | <%= item.description %>
    </div>
  <% end %>
</div>
