<div class="items-list">
  <h1>All Meals</h1>

  <ul>
    <% @items.each do |item| %>
      <div id="item-box">
        <li><%= link_to item.name, item_path(item) %> | $<%= item.price %> | <%= item.description %></li>
      </div>
    <% end %>
  </ul>
</div>

