<div class="container">
  <div class="row">
    <h1>Explore</h1>
    <%= render partial: "layouts/flash_message" %>

    <div class="items-list">
      <div class="row">
        <div class="col-md-3">
          <%= render partial: "layouts/category_list" %>
        </div>

        <div class="col-md-9">
          <%= render partial: "layouts/photos_index" %>
        </div>
      </div>
    </div>
  </div>
</div>
