<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col" id="how-it-works">
    <h3>How it Works</h3>

      <span>
        Pick Your Meals
      </span>
    |
      <span>
        Place an Order
      </span>
    |
      <span>
        Dinner's Ready
      </span>

    </br>
    <%= label_tag 'Delivery City' %>
    <%= text_field :post, :city, size: 30 %>
  </div>
</div>
