6<!-- Jumbotron Header -->
<header >
  <div id="landing" >
    &nbsp;
  </div>
</header>
<div class="row text-center">
  <div class="featured-stores">
    <a href="#" class="featured-store">
      <div id="featured-artist-1">
        <p>featured</p>
        <h3>Linda Snyder</h3>
      </div>
    </a>
    <a href="#" class="featured-store">
      <div id="featured-artist-2">
        <p>featured</p>
        <h3>Danielle Austin</h3>
      </div>
    </a>
    <a href="#" class="featured-store">
      <div id="featured-artist-3">
        <p>featured</p>
        <h3>Anne Johnson</h3>
      </div>
    </a>
  </div>
</div> <!-- /.row -->
