<div id="header">
  <div id="landing" >
    &nbsp;
  </div>
</div>
<div class="row text-center">
  <div class="featured-stores">
    <a href="<%= photographer_path(photographer: @featured_photographer1.url) %>" class="featured-store">
      <div id="featured-artist-1" class="featured-artist">
        <p>featured</p>
        <h3>Linda Snyder</h3>
      </div>
    </a>
    <a href="<%= photographer_path(photographer: @featured_photographer2.url) %>" class="featured-store">
      <div id="featured-artist-2"  class="featured-artist">
        <p>featured</p>
        <h3>Danielle Austin</h3>
      </div>
    </a>
    <a href="<%= photographer_path(photographer: @featured_photographer3.url) %>" class="featured-store">
      <div id="featured-artist-3" class="featured-artist">
        <p>featured</p>
        <h3>Anne Johnson</h3>
      </div>
    </a>
  </div>
</div> <!-- /.row -->
