// variables

$dark-gray: #262626
$medium-dark-gray: #383838
$brand-primary: #ad5ccc
// @brand-primary: darken(#428bca, 6.5%) // #337ab7
$brand-success: #bef368
$brand-info:    #ad5ccc
$brand-warning: #f6fd6c
$brand-danger:  #e562a2

// Use as-is
.btn-primary
  background-color: $brand-primary


$alert-message-background: $brand-info

.alert
  background-color: $alert-message-background
