// variables
@import "superhero/variables"

$gray-dark: #262626
$gray: #383838
$gray-light: #777777
$brand-primary: #ad5ccc
// $brand-text: #fffbf2
$brand-text: #d0cfce
// @brand-primary: darken(#428bca, 6.5%) // #337ab7
$brand-success: #bef368
$brand-info:    #ad5ccc
$brand-warning: #f6fd6c
$brand-danger:  #e562a2

body
  background-color: $gray-dark
  color: $brand-text
  // margin-top: 53px

.navbar
  background-color: darken($gray-darker, 7)

header
  margin-bottom: 40px
  padding-top: 100px
  padding-bottom: 7px

.profile
  padding: 7px
  h1, h3
    padding-left: 25px
  img
    padding-left: 30px
    padding-right: 10px

a
  color: $brand-text

a:hover
  color: $brand-primary

.active
  color: $brand-primary

.orders
  font-size: 15px

.navbar li
  padding-top: 4px
  font-size: 18px

.mt-100
  margin-top: 100px

.mt-80
  margin-top: 80px

.logo img
  margin: 12px 10px 12px 0px
  height: 25px



#landing
  background: url(image-path("beach_van.jpg")) no-repeat center center
  -moz-background-size: cover
  -o-background-size: cover
  -webkit-background-size: cover
  background-size: cover
  height: 650px

.thumbnail
  background-color: $gray-dark
  border: none

.featured-stores
  display: inline-flex
  margin-top: 0px
  width: 100%

.featured-store
  color: white
  flex: 1 1 auto
  -webkit-flex: 1 1 auto
  flex-direction: row
  width: 33%

.featured-store:hover
  text-decoration: none
  color: white

.featured-store div
  height: 300px
  padding-top: 120px

.featured-artist
  background-position: center, center
  background-repeat: no-repeat
  -moz-background-size: cover
  -o-background-size: cover
  -webkit-background-size: cover
  background-size: cover

#featured-artist-1
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(image-path("black_and_white_stairs.jpg"))

#featured-artist-2
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(image-path("lakeside.jpg"))

#featured-artist-3
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(image-path("tansai.jpg"))

.list-group ul
  list-style-type: none
  padding-left: 0
  margin-left: 0

// Use as-is
.btn-primary
  background-color: $brand-primary

.new-account
  margin-top: -39px

$alert-message-background: $brand-info

.alert
  background-color: $alert-message-background

footer
  margin-top: 40px
  min-height: 7em
  color: $gray-light
  background-color: darken($gray-darker, 7)

footer .row
  margin-top: 3em
