
$text-highlight: #09afa9

body
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of
  padding-top: 70px

  .container .row:first-child
    margin-top: 1em


.glyphicon-shopping-cart
  margin-right: .5em

.navbar-inverse .navbar-nav > li > a
  color: $text-highlight
  font-size: 1.5em
  //hack to center vertically
  padding-top: 1.5em
  margin-bottom: .5em

.navbar-header .navbar-brand
  height: 100%
  width: 60%

.jumbotron
  background-image: image-url('Family-eating.jpg')
  background-repeat: no-repeat
  height: 390px
  background-size: cover
  background-position: center center

.hero-spacer
  margin-top: 50px

.hero-feature
  margin-bottom: 30px

.category-feature .thumbnail img
  height: 230px

footer
  margin: 50px 0

  .slide-image
    width: 100%

.carousel-holder
  margin-bottom: 30px

.carousel-control .item
  border-radius: 4px

.caption
  height: 130px
  overflow: hidden

.caption h4
  white-space: nowrap

.thumbnail img
  width: 100%

.ratings
  padding-right: 10px
  padding-left: 10px
  color: #d17581

.thumbnail
  padding: 0

.thumbnail
  .caption-full
    padding: 9px
    color: #333
  .caption
    height: 90px

.carousel-inner > .item > img.slide-image
  width: 800px
  height: 300px
