main
  margin-top: 60px

.mdl-layout__header
  background-color: #424242

footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: auto
  background-color: #424242

  ul
    display: inline-block

.item-info
  padding: 20px
  max-width: 240px
  max-height: 400px


.item-image
  max-width: 200px
  max-height: 180px

