<div class="nav-header">
  <h1>Admin Dashboard</h1>

  <div class="btn-group">
  <%= link_to "Add New Meal", new_admin_item_path, class: "btn btn-default" %>
  <%= link_to "View All Meals", admin_items_path, class: "btn btn-default" %>
</div>
</div>
