<div class="list-group">
  <% if store = params[:store] %>
    <ul>
      <% photo_categories.each do |category| %>
        <li>
          <%= link_to category.name,
                      photographer_category_path(store: store, id: category),
                      class: "list-group-item"  %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul>
      <% photo_categories.each do |category| %>
        <li>
          <%= link_to category.name, photos_category_path(category),
                      class: "list-group-item" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
