<div class="list-group">
  <%= link_to "Full Menu", "/menu", class: "list-group-item" %>
  <%= link_to "Breakfast", "/menu/Breakfast", class: "list-group-item" %>
  <%= link_to "Lunch", "/menu/Lunch", class: "list-group-item" %>
  <%= link_to "Dinner", "/menu/Dinner", class: "list-group-item" %>
</div>
