<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
     Dinner's Ready 4 U
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <!-- add social buttons -->
  <!--<div class="mdl-mini-footer__right-section">-->
    <!--<button class="mdl-mini-footer__social-btn"></button>-->
    <!--<button class="mdl-mini-footer__social-btn"></button>-->
    <!--<button class="mdl-mini-footer__social-btn"></button>-->
  <!--</div>-->
</footer>
