<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Dinner's Ready 4 U</div>
    <ul class="mdl-mini-footer__link-list">
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  </div>
</footer>
