<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Copyright &copy; 2015 Imagine</p>
      </div>
      <div class="col-md-3 col-md-offset-3">
        <p>
          <% if current_user &&
                current_user.registered_user? &&
                !current_user.store_admin? %>
            <%= link_to "Photographer? Sign up here!", new_photographer_path,
                        class: "pull-right" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</footer>
